<div class="row">
  <span class="form_label"><%= f.label(:title) %></span>
  <span class="form_data"><%= f.text_field :title %></span>
</div>
<div class="row">
  <span class="form_label"><%= f.label(:salary) %></span>
  <span class="form_data"><%= f.text_field :salary %></span>
</div>
<div class="row">
  <span class="form_label"><%= f.label(:days_remote) %></span>
  <span class="form_data"><%= f.text_field :days_remote %></span>
</div>
<div class="row">
  <span class="form_label"><%= f.label(:where_found, "Where did you see this advertised?") %></span>
  <span class="form_data"><%= f.text_field :where_found %></span>
</div>
<div class="row">
  <span class="form_label"><%= f.label(:application_link) %></span>
  <span class="form_data"><%= f.text_field :application_link, size: 70 %></span>
</div>
<div class="row">
  <span class="form_label"><%= f.label(:notes) %></span>
  <span class="form_data"><%= f.text_area(:notes, cols: 80, rows: 10) %><br /></span>
</div>
<div class="row">
  <span class="form_label"><%= f.label(:apply_by) %></span>
  <span class="form_data"><%= f.text_field(:apply_by) %><br /></span>
</div>
<div class="row">
  <span class="form_label"><%= f.label(:date_applied) %></span>
  <span class="form_data"><%= f.text_field(:date_applied) %><br /></span>
</div>

<%= f.submit %>
