<h2>Editing role @ <%= @company.name %></h2>

<% if @job && @job.errors.any? %>
  <ul class="warning">
    <% @job.errors.each do |attr, message| %>
      <li><%= attr %> <%= message %></li>
    <% end %>
  </ul>
<% end %>

<div id="edit_job">
  <%= form_for :job, url: company_job_path, method: :patch do |f| %>
    <%= render :partial => 'form', :locals => { :f => f } %>
  <% end %>
</div>
