<h2><%= @job.title %> @ <%= @company.name %></h2>

<div id="job_details">
<p>Salary: <%= @job.salary %></p>

<p>Days per week remote: <%= @job.days_remote %></p>

<%- if @job.where_found %>
<p>Found job via <%= @job.where_found %></p>
<% end %>

<%- if @job.applied_for? %>
<p>
  You applied on: <%= @job.date_applied.strftime('%a %d %B') %><br>
  <%- if @job.apply_by %>
  (Applications closed on: <%= @job.apply_by.strftime('%a %d %B') %>)
  <% end %>
</p>
<% else%>
  <%- if @job.application_link %>
    <p><a href="<%= @job.application_link %>">Apply online</a></p>
  <% end %>
  <%- if @job.apply_by %>
    <p>Apply by: <%= @job.apply_by.strftime('%a %d %B') %></p>
  <% end %>
<% end %>

Notes:
<div class="md_notes">
  <%= sanitize(
    Kramdown::Document.new(@job.notes).to_html,
    tags: ['br', 'a', 'b', 'i', 'p', 'ul', 'ol', 'li', 'em', 'strong']) %>
  &nbsp;
</div>
</div>

<p><%= link_to("Edit", edit_company_job_path) %></p>
