<div class="row">
  <span class="form_label"><%= f.label(:name) %></span>
  <span class="form_data"><%= f.text_field :name %></span>
</div>
<div class="row">
  <span class="form_label"><%= f.label(:location) %></span>
  <span class="form_data"><%= f.text_field :location %></span>
</div>
<div class="row">
  <span class="form_label"><%= f.label(:remote_friendly) %></span>
  <span class="form_data"><%= f.check_box :remote_friendly %></span>
</div>
<div class="row">
  <span class="form_label"><%= f.label(:notes) %></span>
  <span class="form_data"><%= f.text_area(:notes, cols: 80, rows: 10) %><br /></span>
</div>
<div class="row">
  <span class="form_label"><%= f.label(:pros) %></span>
  <span class="form_data"><%= f.text_area(:pros, cols: 80, rows: 5) %><br /></span>
</div>
<div class="row">
  <span class="form_label"><%= f.label(:cons) %></span>
  <span class="form_data"><%= f.text_area(:cons, cols: 80, rows: 5)%><br /></span>
</div>

<%= f.submit %>
