<h2>Editing: <%= @company.name %></h2>

<% if @company && @company.errors.any? %>
  <ul class="warning">
    <% @company.errors.each do |attr, message| %>
      <li><%= attr %> <%= message %></li>
    <% end %>
  </ul>
<% end %>

<div id="edit_company">
  <%= form_for :company, url: company_path, method: :patch do |f| %>
    <%= render :partial => 'form', :locals => { :f => f } %>
  <% end %>
</div>
