<h2>Who's hiring?</h2>

<ul id="companies">
<% @hiring.each do |company| %>
  <li>
    <%= link_to company.name, company_url(company.slug) %>
    <%- if company.jobs.closing_soon.any? %>
      <span class="warn"><em>Applications closing soon!</em></span>
    <% end %>
  </li>
<% end %>
</ul>

<%-if @not_hiring %>
<h3>No jobs listed</h3>
<ul>
<% @not_hiring.each do |company| %>
<li>
  <%= link_to company.name, company_url(company.slug) %>
</li>
<% end %>
</ul>
<% end %>

<%- if @applied %>
<h3>Application in!</h3>
<ul>
<% @applied.each do |company| %>
  <li>
    <%= link_to company.name, company_url(company.slug) %>
  </li>
<% end %>
<% end %>

</ul>

<%= link_to('Add new', new_company_path) %>
