<h2>New potential employer</h2>

<% if @company && @company.errors.any? %>
  <ul class="warning">
    <% @company.errors.each do |attr, message| %>
      <li><%= attr %> <%= message %></li>
    <% end %>
  </ul>
<% end %>

<div id="new_company">
  <%= form_for :company, url: companies_path do |f| %>
    <%= render :partial => 'form', :locals => { :f => f } %>
  <% end %>
</div>
