<h2><%= @company.name %></h2>

<div id="company_details">
<p>Location: <%= @company.location %></p>

<p>Remote friendly? <%= @company.remote_friendly ? 'Yes' : 'No' %>

<p>Pros:</p>
<div>
<%= sanitize(@company.pros.gsub("\n", "<br>"), tags: %w(br)) %>&nbsp;
</div>

<p>Cons:</p>
<div>
<%= sanitize(@company.cons.gsub("\n", "<br>"), tags: %w(br)) %>&nbsp;
</div>

<p>Notes:</p>
<div>
<%= sanitize(@company.notes.gsub("\n", "<br>"), tags: %w(br)) %>&nbsp;
</div>

<h3>Open positions</h3>
<ul>
<% @company.jobs.each do |job| %>
  <li>
    <%= link_to(job.title, company_job_path(@company.slug, job.id)) %>
    <%- if job.days_remote == 5 %>
    <b>(fully remote)</b>
    <% end %>
    <%- if job.applied_for? %>
      (You have already applied!)
    <% end %>
  </li>
<% end %>
</ul>

<%= link_to("Add open position",
            new_company_job_path(@company.slug)) %>

<p><%= link_to("Edit", edit_company_path(slug: @company.slug)) %></p>
