/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  padding: 0.5em;
  background-color: #fff;
  color: #24292e;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

textarea {
  vertical-align: top;
}

#nav_bar {
  font-size: 1.15 em;
}

#edit_job, #edit_company {
  .form_label {
    display: inline-block;
    min-width: 7em;
    text-align: right;
    padding-right: 0.5em;
  }

  .row {
    padding: 0.25em 0;
  }
}
