// Place all the styles related to the companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#company_details > div {
  padding-left: 3em;
  margin-top: -2.5em;
}
