// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#job_details > div {
  padding-left: 3.25em;
  margin-top: -1.5em;
}

.md_notes p:first-of-type {
  margin-top: 0
}
