<%- if controller_name != 'general' %>
  <%= link_to 'Home', root_path %>
  <%- if controller.action_name == 'index' %>
    > <%= controller_name.titlecase %>
  <% else %>
    > <%= link_to 'Companies', companies_path %>
    <%- if controller_name == 'jobs' %>
      > <%= link_to @company.name, company_path(@company.slug) %>
      > <%= @job ? @job.title : 'Adding...' %>
    <% else %>
      > <%= @company ? @company.name : 'Adding...' %>
    <% end %>
  <% end %>
<% end %>
