<!DOCTYPE html>
<html>
  <head>
    <title>Jobhunter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="nav_bar">
      <%= render partial: 'layouts/navigation' %>
    </div>
    <%= yield %>
  </body>
</html>
